.todoApp{
  border: 1px solid lightsteelblue;
  margin: auto;
  width: 60%;
  padding: 20px;
  text-align: center;
  .datepicker{
    input{
      padding: 20px;
    }
  }
  .img{
    width:100%;
  }
}
